<div class="container mt-2 mb-0">
    <div class="row mt-4 mb-2">
        <div class="col-md-12">
            <div class="lc-block text-center mt-3 mb-2">
                <div editable="rich">
                    <h2 class="fw-bold">Preguntas Frecuentes</h2>
                </div>
            </div>
            <div class="lc-block text-center mb-2">
                <div editable="rich">
                En esta seccion
                </div>
            </div>
        </div>
    </div>
    <div class="row g-0">
        <!-- <div class="col-md-5">
            <img class="img-fluid" src="../../../assets/faq-dogCat.jpg" sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="">
        </div> -->
        <div class="col-md-12 p-5 pt-0 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-md-6">
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿A que Clínicas puedo llevar mis mascotas en caso de un accidente o una enfermedad? </p>
                            <p>Puedes llevar tu mascota a la clínica de tu preferencia, ya que SURA te reembolsará hasta el valor contratado.</p>
                        </div>
                    </div>
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿La poliza cubrira el costo de los medicamentos?</p>
                            <p>Si, se pagará el valor factura y de acuerdo al valor asegurado.</p>
                        </div>
                    </div>
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿Tienen convenio con alguna Clínica?</p>
                            <p>No queremos limitar la red de asistencia, así que puedes llevar tu mascota con tu médico de preferencia.</p>
                        </div>
                    </div>
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿Por cuanto tiempo es la vigencia del seguro? </p>
                            <p>La vigencia y el pago que realizas es por un año.</p>
                        </div>
                    </div>
                    <div class="lc-block">
                        <div editable="rich">
                            <p class="h4">¿Cuando inicia la cobertura de mi mascota?</p>
                            <p>El total de las coberturas se activan 15 días después de haber adquirido el seguro, siempre y cuándo se encuentre pagado.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿Que es un reembolso?</p>
                            <p>Es cuando tu pagas el valor del evento que se encuentre cubierto al veterinario, el cuál te será reembolsado por la aseguradora.</p>
                        </div>
                    </div>
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿Que sucede si mi mascota causa daños a otras personas o sus bienes?</p>
                            <p>No puedes reconocer tu responsabilidad ni hacer pagos,transacciones o conciliaciones con la víctima, debes contactar a SURA para que te asesore o asigne un abogado.
                                Si los terceros te demandan o reclaman por un daño causado por tu mascota debes informar a SURA dentro de los tres días siguientes.
                                Perderás la protección de este seguro si presentas la reclamación de manera fraudulenta, o usando declaraciones o documentos falsos o si renuncias a tus derechos contra los responsables.                                
                                SURA no otorga las prestaciones o paga las indemnizaciones establecidas en esta cobertura cuando afrontes un proceso judicial en contra de orden expresa de SURA.
                                 </p>
                        </div>
                    </div>
                    <div class="lc-block mb-2">
                        <div editable="rich">
                            <p class="h4">¿Qué no cubre este seguro? </p>
                            <p><strong><span class="has-inline-color">Solo se pueden asegurar perros o gatos</span>.</strong>;
                            <p class="pt-0">Si se adquirió el seguro para otro tipo de mascotas, se hará la devolución de la prima.</p>
                            </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>